* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2A1BB7;
    color: #ffff;
    display: flex;
    justify-content: center;
}
/* Área dos botões: "tudo", "música" e "podcasts"*/
#container_buttons {
    margin: 45px;
}
#button_tudo {
    border: 2px solid #DCD9F6;
    border-radius: 50px;
    background-color: #6459CA;
    color: #DCD9F6;
    width: 70px;
    height: 27px;
    font-weight: 700;
    font-size: 15px;
}
#button_musica {
    border: 2px solid #6459CA;
    border-radius: 50px;
    background-color: #DCD9F6;
    color: #6459CA;
    width: 80px;
    height: 27px;
    font-weight: 700;
    font-size: 15px;
}
#button_podcast {
    border: 2px solid #6459CA;
    border-radius: 50px;
    background-color: #DCD9F6;
    color: #6459CA;
    width: 90px;
    height: 27px;
    font-weight: 700;
    font-size: 15px;
}

/* Área dos campos onde aparecem as músicas e playlists escutadas recentemente */
.field_recents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 73px;
}
#all_field_recents{
    border: 2px solid #6459CA;
    width: 18vw;
    height: 8vh;
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-right: 60px; 
    margin-bottom: 33px;
}
#img_recent {
    width: 53px;
    height: 51px;
}
#text_recent{
    padding: 10px;
    font-size: 18px;
}

/* Área das músicas "Mais Ouvidas" */
#text_ouvidos {
    font-family: 'Afacad', sans-serif;
    font-size: 22px;
    margin-left: 47px;
    margin-top: 10px;
}
#field_mais-escutados {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#all_mais-escutados {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 47px;
    margin-right: 20px;
    width: 11vw;
    height: 31vh;
}
#img_mais-escutados {
    width: 149px;
    height: 145px;
}

/* Header da página */
#container_icons{
    width: 100vw;
    height: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #6459CA;
    margin-top: 52px;
}
#all_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}