* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #6656f8;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 23vw;
    height: 70vh;
    border: 2px solid #ffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Inria Serif', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 33px;
    margin-top: 35px;
}

#text {
    margin-top: 60px;
    margin-left: 5px;
    font-family: 'Afacad', sans-serif;
    font-size: 25px;
}

/* Área dos inputs */
#container_inputs {
    display: flex;
    flex-direction: column;
}

.container_senha {
    position: relative;
    display: flex;
    align-items: center
}

#icon_password, #icon_confirm_password {
    cursor: pointer;
    position: absolute;
    right: 10px; 
    top: 50%;
    color: #342997;
    transform: translateY(-20%);
}

.material-icons {
    font-size: 17px;
}

input {
    width: 230px;
    height: 26px;
    border: 2px solid #6459CA;
    border-radius: 12px;
    background-color: #DCD9F6;
    margin-top: 12px;
    padding-left: 10px; 
}
input::placeholder {
    color: #6459CA;
}

a {
   color: #ffff;
   font-family: "Libre Baskerville", serif;
   font-size: 12px;
   margin: 5px;
}

/* Área dos botões */
#container_buttons {
    width: 22vw;
    height: 70vh;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

#button_salvar {
    border: 2px solid #DCD9F6;
    border-radius: 7px;
    background-color: #342997;
    color: #DCD9F6;
    font-family: 'Afacad', sans-serif;
    font-size: 16px;
    width: 138px;
    height: 27px;
}

#button_cancelar {
    border: 2px solid #342997;
    border-radius: 7px;
    background-color: #DCD9F6;
    color: #342997;
    font-family: 'Afacad', sans-serif;
    font-size: 17px;
    width: 90px;
    height: 27px;
}