<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Biblioteca</title>
    <link rel="stylesheet" href="/Style/biblioteca.css">
</head>
<body>
    <div id="container_biblioteca">
        
        <header>
            <div id="container_icons">
                <div id="all_icon">
                    <img src="../Image/iconInicio.png" alt="ícone de início">
                    <p>Início</p>
                </div>
                <div id="all_icon">
                    <img id="icon_pesquisa" src="../Image/iconLupa.png" alt="ícone de lupa">
                    <p>Pesquisar</p>
                </div>
                <div id="all_icon">
                    <img id="icon_biblioteca" src="../Image/iconBiblioteca.png" alt="ícone de biblioteca">
                    <p>Sua Biblioteca</p>
                </div>
            </div>
        </header>
    </div>
</body>
</html>