<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página de Cadastro</title>
        <link rel="stylesheet" href="../Style/telaCadastro.css">
        <!--Link da fonte do título-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@1,700&display=swap" rel="stylesheet">
        <!--Fonte texto cadastro e botão criar conta-->
        <link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="container">
            <h1>Vibesound</h1>
            <div id="container_cadastro">
                <p id="text-cadastro">Cadastro</p>
                <div id="cadastros">
                    <div id="cadastro_part1">
                        <input type="text" placeholder="Nome completo" required>
                        <input type="text" id="input_date" placeholder="Data de nascimento" title="Formato da data: dd/mm/yyyy" maxlength="10" required>
                        <input type="text" id="input_phone_number" placeholder="Telefone" title="Formato do número de telefone: xx xxxxx-xxxx" maxlength="15" required>
                    </div>
                    <div id="cadastro_part2">
                        <input type="text" placeholder="Email" required>
                        <input type="text" placeholder="Confirme o email" required>
                        <div class="container_senha">
                            <input id="input_password" type="password" placeholder="Senha" maxlength="8" required>
                            <span id="icon_password">🙈</span>
                        </div>
                        <div class="container_senha">
                            <input id="input_confirm_pasword" type="password" maxlength="8" placeholder="Confirme a senha" required>
                            <span id="icon_confirm_password">🙈</span>
                        </div>
                    </div>
                </div>
                <div id="container_buttons">
                    <button id="button_cancelar">Cancelar</button>
                    <button id="button_salvar" onclick="criarConta()">Criar conta</button>
                </div>
            </div>
        </div>

        <script src="../Script/cadastro.js"></script>
    </body>
</html>