<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página inicial</title>
        <link rel="stylesheet" href="../Style/telaInicial.css">
        <!-- Link da fonte do texto "Mais ouvidos" -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="container">
            <div id="container_buttons">
                <button onclick="areaInicial()" id="button_tudo">Tudo</button>
                <button onclick="areaMusica()" id="button_musica">Música</button>
                <button onclick="areaPodcasts()" id="button_podcast">Podcasts</button>
            </div>
            <div class="field_recents">
                <div id="all_field_recents">
                    <img src="../Image/recent1.jpeg" alt="" id="img_recent">
                    <p id="text_recent">O céu explica tudo (Ao vivo)</p>
                </div>
                <div id="all_field_recents">
                    <img src="../Image/recent2.jpeg" alt="" id="img_recent">
                    <p id="text_recent">Músicas curtidas</p>
                </div>
                <div id="all_field_recents">
                    <img src="../Image/recent3.jpeg" alt="" id="img_recent">
                    <p id="text_recent">Funk challenge</p>
                </div>
                <div id="all_field_recents">
                    <img src="../Image/recent4.jpeg" alt="" id="img_recent">
                    <p id="text_recent">Henrique e Juliano</p>
                </div>
            </div>
            <div class="field_recents">
                <div id="all_field_recents">
                    <img src="../Image/recent5.jpeg" alt="" id="img_recent">
                    <p id="text_recent">Um anjo do céu</p>
                </div>
                <div id="all_field_recents">
                    <img src="../Image/recent6.jpeg" alt="" id="img_recent">
                    <p id="text_recent">CPM 22</p>
                </div>
            </div>
            <p id="text_ouvidos">Mais ouvidos</p>
            <div id="field_mais-escutados">
                <div id="all_mais-escutados">
                    <img src="../Image/mais_escutados1.jpeg" alt="" id="img_mais-escutados">
                    <p>Mix de Henrique & Juliano</p>
                </div>
                <div id="all_mais-escutados">
                    <img src="../Image/mais_escutados2.jpeg" alt="" id="img_mais-escutados">
                    <p>Onze:20, CPM 22 e mais</p>
                </div>
                <div id="all_mais-escutados">
                    <img src="../Image/mais_escutados3.jpeg" alt="" id="img_mais-escutados">
                    <p>MC Zaquin, DJ Wesley Gonzaga e mais</p>
                </div>
                <div id="all_mais-escutados">
                    <img src="../Image/mais_escutados4.jpeg" alt="" id="img_mais-escutados">
                    <p>Jorge & Mateus</p>
                </div>
                <div id="all_mais-escutados">
                    <img src="../Image/mais_escutados5.jpeg" alt="" id="img_mais-escutados">
                    <p>Diego & Victor Hugo</p>
                </div>
                <div id="all_mais-escutados">
                    <img src="../Image/mais_escutados6.jpeg" alt="" id="img_mais-escutados">
                    <p>Natiruts</p>
                </div>
            </div>
            <header>
                <div id="container_icons">
                    <div id="all_icon">
                        <img src="../Image/iconInicio.png" alt="ícone de início">
                        <p>Início</p>
                    </div>
                    <div id="all_icon">
                        <img src="../Image/iconLupa.png" alt="ícone de lupa">
                        <p>Pesquisar</p>
                    </div>
                    <div id="all_icon">
                        <img src="../Image/iconBiblioteca.png" alt="ícone de biblioteca">
                        <p>Sua Biblioteca</p>
                    </div>
                </div>
            </header>
        </div>
    </body>
</html>