<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página de Login</title>
        <!-- Css -->
        <link rel="stylesheet" href="../Style/telaLogin.css">
        <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Link da fonte do título-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@1,700&display=swap" rel="stylesheet">
        <!--Fonte texto entrar e botão acessar-->
        <link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
        <!--Fonte dos textos em link-->
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Quicksand&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="container_login">
            <h1>Vibesound</h1>
            <div id="container_inputs">
                <p id="text-entrar">Entrar</p>
                <input type="text" placeholder="Nome de usuário" required>
                <div id="container_password">
                    <input id="input_password" type="password" placeholder="Senha" required>
                    <span id="icon_password" class="eye-icon material-icons">visibility_off</span>
                </div>
                <a href="./modificarSenha.html">Esqueceu a senha?</a>
            </div>            
            <div id="container_access">
                <button id="button_acessar">Acessar</button>
                <a href="./cadastro.html">Não tenho conta</a>
            </div>
        </div>

        <script src="../Script/login.js"></script>
    </body>
</html>