<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Pesquisa</title>
    <link rel="stylesheet" href="/Style/telaPesquisa.css">
</head>
<body>
    <div id="container_pesquisa">
        <div id="area_pesquisa">
            <img src="/Image/iconLupa.png" alt="">
            <input type="text" id="pesquisar" placeholder="O que você quer ouvir?">
        </div>
        <header>
            <div id="container_icons">
                <div id="all_icon">
                    <img src="../Image/iconInicio.png" alt="ícone de início">
                    <p>Início</p>
                </div>
                <div id="all_icon">
                    <img id="icon_pesquisa" src="../Image/iconLupa.png" alt="ícone de lupa">
                    <p>Pesquisar</p>
                </div>
                <div id="all_icon">
                    <img id="icon_biblioteca" src="../Image/iconBiblioteca.png" alt="ícone de biblioteca">
                    <p>Sua Biblioteca</p>
                </div>
            </div>
        </header>
    </div>
</body>
</html>