<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página Principal</title>
        <!-- Link CSS -->
        <link rel="stylesheet" href="/Style/telaPrincipal.css">
    </head>
    <body>
        <div id="container">
            <div id="top">
                <div id="logo_vibesound">

                </div>
                <div id="pesquisa">

                </div>
                <div id="perfil">

                </div>
            </div>
            <div id="area_biblioteca">

            </div>
            <div id="musics">

            </div>
        </div>
    </body>
</html>