<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página Principal</title>
        <!-- Link CSS -->
        <link rel="stylesheet" href="../Style/telaPrincipal.css">
    </head>
    <body>
        <div id="container">
            <div id="top">
                <div id="perfil">
                    <img id="logo_vibesound" src="/Image/logoVibesoundMenor.jpg" alt="">
                </div>
                <div id="pesquisa">
                    <button id="button_voltar_inicio">
                        <img id="icon_inicio" src="/Image/iconInicio.png" alt="">
                    </button>
                    <input id="input_pesquisa" type="text" placeholder="O que você quer ouvir?" class="img_pesquisa">
                </div>
                <div id="perfil">

                </div>
            </div>
            <div id="area_biblioteca">

            </div>
            <div id="musics">

            </div>
        </div>
    </body>
</html>