<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reprodução de Música</title>
        <link rel="stylesheet" href="../Style/telaReproduzirMusica.css">
        <!-- Link da fonte do nome da pasta e nome da música -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="container">
            <div id="reproducao">
                <p id="nome_pasta">Nome da pasta</p>
                <img src="../Image/imgPlay.jpeg" alt="">
                <p>Nome da Música</p>
                <p>Nome cantor</p>
                <div id="play">
                    <img id="all_icons" src="../Image/iconPularEsquerda.png" alt="">
                    <img id="all_icons" src="../Image/iconPlay.png" alt="">
                    <img id="all_icons" src="../Image/iconPularDireita.png" alt="">
                </div>
            </div>
        </div>
    </body>
</html>