<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página Principal</title>
        <!-- Link CSS -->
        <link rel="stylesheet" href="../Style/telaPrincipal.css">
        <!-- Link da fonte do texto "Sua Biblioteca" -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
        <!--Fonte texto cadastro e botão criar conta-->
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Quicksand&display=swap" rel="stylesheet">    </head>
    <body>
        <div id="container">
            <div id="top">
                <div id="area_logo">
                    <img id="logo_vibesound" src="../Image/logoVibesound.jpeg">
                </div>
                <div id="pesquisa">
                    <button id="button_voltar_inicio">
                        <img id="icon_inicio" src="../Image/iconInicio.png">
                    </button>
                    <input id="input_pesquisa" type="text" placeholder="O que você quer ouvir?" class="img_pesquisa">
                </div>
                <div id="area_perfil">
                    <img id="img_pefil" src="../Image/perfil.png">
                </div>                
            </div>
            <div id="organiza_divs">
                <div id="area_biblioteca">
                    <div id="biblioteca">
                        <div id="infos_biblioteca">
                            <img id="icon_biblioteca" src="../Image/iconBiblioteca.png">
                            <span id="text_biblioteca">Sua Biblioteca</span>
                        </div>
                        <button id="button_adicionar">
                            <img id="icon_adicionar" src="../Image/iconAdicionar.png">
                        </button>
                    </div>
                    <div id="playlists">
                        <button class="button_musica_biblioteca">
                            <img class="img_musica_biblioteca" src="../Image/mais_escutados1.jpeg" alt="imagem da playlist">
                            <div class="texts_musica_biblioteca">
                                <p class="titulo_musica_biblioteca">Título da Música</p>
                                <p class="info_musica_biblioteca">Playlist • Nome do criador</p>
                            </div>
                        </button>
                        <button class="button_musica_biblioteca">
                            <img class="img_musica_biblioteca" src="../Image/mais_escutados2.jpeg" alt="imagem da playlist">
                            <div class="texts_musica_biblioteca">
                                <p class="titulo_musica_biblioteca">Título da Música</p>
                                <p class="info_musica_biblioteca">Playlist • Nome do criador</p>
                            </div>
                        </button>
                        <button class="button_musica_biblioteca">
                            <img class="img_musica_biblioteca" src="../Image/mais_escutados3.jpeg" alt="imagem da playlist">
                            <div class="texts_musica_biblioteca">
                                <p class="titulo_musica_biblioteca">Título da Música</p>
                                <p class="info_musica_biblioteca">Playlist • Nome do criador</p>
                            </div>
                        </button>
                        <button class="button_musica_biblioteca">
                            <img class="img_musica_biblioteca" src="../Image/mais_escutados4.jpeg" alt="imagem da playlist">
                            <div class="texts_musica_biblioteca">
                                <p class="titulo_musica_biblioteca">Título da Música</p>
                                <p class="info_musica_biblioteca">Playlist • Nome do criador</p>
                            </div>
                        </button>
                        <button class="button_musica_biblioteca">
                            <img class="img_musica_biblioteca" src="../Image/mais_escutados5.jpeg" alt="imagem da playlist">
                            <div class="texts_musica_biblioteca">
                                <p class="titulo_musica_biblioteca">Título da Música</p>
                                <p class="info_musica_biblioteca">Playlist • Nome do criador</p>
                            </div>
                        </button>
                        <button class="button_musica_biblioteca">
                            <img class="img_musica_biblioteca" src="../Image/mais_escutados6.jpeg" alt="imagem da playlist">
                            <div class="texts_musica_biblioteca">
                                <p class="titulo_musica_biblioteca">Título da Música</p>
                                <p class="info_musica_biblioteca">Playlist • Nome do criador</p>
                            </div>
                        </button>
                        <button class="button_musica_biblioteca">
                            <img class="img_musica_biblioteca" src="" alt="imagem da playlist">
                            <div class="texts_musica_biblioteca">
                                <p class="titulo_musica_biblioteca">Título da Música</p>
                                <p class="info_musica_biblioteca">Playlist • Nome do criador</p>
                            </div>
                        </button>
                        <button class="button_musica_biblioteca">
                            <img class="img_musica_biblioteca" src="" alt="imagem da playlist">
                            <div class="texts_musica_biblioteca">
                                <p class="titulo_musica_biblioteca">Título da Música</p>
                                <p class="info_musica_biblioteca">Playlist • Nome do criador</p>
                            </div>
                        </button>
                    </div>
                </div>
                <div id="area_musics">
                    <p id="frase_recente">Recentes</p>
                    <div class="field_recents">
                        <button class="button_tocadas_recente">
                            <img src="../Image/recent1.jpeg" alt="" class="img_recent">
                            <p class="text_recent">O céu explica tudo (Ao vivo)</p>
                        </button>
                        <button class="button_tocadas_recente">
                            <img src="../Image/recent2.jpeg" alt="" class="img_recent">
                            <p class="text_recent">Músicas curtidas</p>
                        </button>
                        <button class="button_tocadas_recente">
                            <img src="../Image/recent3.jpeg" alt="" class="img_recent">
                            <p class="text_recent">Funk challenge</p>
                        </button>
                        <button class="button_tocadas_recente">
                            <img src="../Image/recent4.jpeg" alt="" class="img_recent">
                            <p class="text_recent">Henrique e Juliano</p>
                        </button>
                        <button class="button_tocadas_recente">
                            <img src="../Image/recent5.jpeg" alt="" class="img_recent">
                            <p class="text_recent">Um anjo do céu</p>
                        </button>
                        <button class="button_tocadas_recente">
                            <img src="../Image/recent6.jpeg" alt="" class="img_recent">
                            <p class="text_recent">CPM 22</p>
                        </button>
                        <button class="button_tocadas_recente">
                            <img src="../Image/recent3.jpeg" alt="" class="img_recent">
                            <p class="text_recent">Funk challenge</p>
                        </button>
                        <button class="button_tocadas_recente">
                            <img src="../Image/recent4.jpeg" alt="" class="img_recent">
                            <p class="text_recent">Henrique e Juliano</p>
                        </button>
                    </div>
                    <p id="frase_artistas_populares">Artistas populares</p>
                    <div id="field_populares">
                        <button id="button_artistas_populares">
                            <img src="../Image/mais_escutados1.jpeg" alt="" id="img_artistas_populares">
                            <p id="nome_artistas_populares">Nome artista</p>
                        </button>
                        <button id="button_artistas_populares">
                            <img src="../Image/mais_escutados2.jpeg" alt="" id="img_artistas_populares">
                            <p id="nome_artistas_populares">Nome artista</p>
                        </button>
                        <button id="button_artistas_populares">
                            <img src="../Image/mais_escutados3.jpeg" alt="" id="img_artistas_populares">
                            <p id="nome_artistas_populares">Nome artista</p>
                        </button>
                        <button id="button_artistas_populares">
                            <img src="../Image/mais_escutados4.jpeg" alt="" id="img_artistas_populares">
                            <p id="nome_artistas_populares">Jorge & Mateus</p>
                        </button>
                        <button id="button_artistas_populares">
                            <img src="../Image/mais_escutados5.jpeg" alt="" id="img_artistas_populares">
                            <p id="nome_artistas_populares">Diego & Victor Hugo</p>
                        </button>
                    </div>
                    <p id="frase_populares">Álbuns populares</p>
                    <div id="field_populares">
                        <button id="button_popular">
                            <img src="../Image/mais_escutados1.jpeg" alt="" id="img_popular">
                            <p id="titulo_musica_populares">Mix de Henrique & Juliano</p>
                        </button>
                        <button id="button_popular">
                            <img src="../Image/mais_escutados2.jpeg" alt="" id="img_popular">
                            <p id="titulo_musica_populares">Onze:20, CPM 22 e mais</p>
                        </button>
                        <button id="button_popular">
                            <img src="../Image/mais_escutados3.jpeg" alt="" id="img_popular">
                            <p id="titulo_musica_populares">MC Zaquin, DJ Wesley Gonzaga e mais</p>
                        </button>
                        <button id="button_popular">
                            <img src="../Image/mais_escutados4.jpeg" alt="" id="img_popular">
                            <p id="titulo_musica_populares">Jorge & Mateus</p>
                        </button>
                        <button id="button_popular">
                            <img src="../Image/mais_escutados5.jpeg" alt="" id="img_popular">
                            <p id="titulo_musica_populares">Diego & Victor Hugo</p>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <script src="../Script/principal.js"></script>
    </body>
</html>