* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6656f8;
    color: #ffff;
    display: flex;
    justify-content: center;
}

#container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: 'Inria Serif', serif;
    font-size: 30px;
    margin-top: 35px;
}

/* Área do cadastro */
#container_cadastro {
    width: 59vw;
    height: 65vh;
    border: 2px solid #ffff;
    border-radius: 10px;
}

#text-cadastro {
    font-family: 'Afacad', sans-serif;
    font-size: 25px;
    margin-top: 55px;
    margin-left: 55px;
}

/* Área dos inputs */
#cadastros {
    display: flex;
    justify-content: space-between;
}

#cadastro_part1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
}

#cadastro_part2 {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    margin-right: 40px;
}

.container_senha {
    position: relative;
    display: flex;
    align-items: baseline
}

#icon_password, #icon_confirm_password {
    cursor: pointer;
    position: absolute;
    right: 10px; 
    top: 50%;
    color: #342997;
    transform: translateY(-20%);
    font-size: 17px; 
}

input {
    width: 320px;
    height: 29px;
    border: 2px solid #342997;
    border-radius: 12px;
    background-color: #DCD9F6;
    margin-top: 12px;
    padding-left: 10px; 
}
input::placeholder {
    color: #6459CA;
}

/* Área dos botões */
#container_buttons {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 95px;
    margin-bottom: 30px;
}

#button_criar_conta {
    border: 2px solid #DCD9F6;
    border-radius: 7px;
    background-color: #342997;
    color: #DCD9F6;
    font-family: 'Afacad', sans-serif;
    font-size: 17px;
    margin-right: 55px;
    width: 120px;
    height: 29px;
}

#button_cancelar {
    border: 2px solid #342997;
    border-radius: 7px;
    background-color: #DCD9F6;
    color: #342997;
    font-family: 'Afacad', sans-serif;
    font-size: 17px;
    margin-left: 55px;
    width: 110px;
    height: 29px;
}