* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000000;
    color: #ffff;
}
button {   
    cursor: pointer;
    border: none;
}

/* Área de cima */
#top {
    height: 50px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#area_logo {
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
}
#logo_vibesound {
    border-radius: 50%;
    object-fit: cover; 
    width: 53px;
    height: 53px;
}
.user-container {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-top: 19px;
}
#img_pefil {
    border-radius: 50%; 
    object-fit: cover; 
    cursor: pointer;
    width: 53px;
    height: 53px;
}
.menu {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #221e49;
    width: 140px;
    height: 90px;
    box-shadow: 0 4px 8px rgba(179, 29, 29, 0.1);
    border-radius: 5px;
    z-index: 1000;
  }
  
.menu a {
    display: block;
    padding: 10px;
    color: #FFFF;
    font-family: 'Afacad', sans-serif;
    text-decoration: none;
  }
.menu a:hover {
    background-color: #4d44a17c;
}
.hidden {
    display: none;
}
  

/* Área de pesquisa */
#pesquisa {
    margin-top: 15px;
    width: 455px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#button_voltar_inicio {
    width: 55px;
    height: 55px;
    border-radius: 50px;
    background-color: #1f1f1f;
    transition: transform 0.2s ease;
}
#button_voltar_inicio:hover {
    transform: scale(1.1);
}
#icon_inicio {
    border-radius: 50px;
    width: 25px;
    height: 25px;
}
#input_pesquisa {
    background-color: #1f1f1f;
    border: none;
    color: #ffff;
    width: 340px;
    height: 55px;
    border-radius: 50px;
    font-size: 17px;
}
#input_pesquisa::placeholder {
    color: #A3A3A3;
}
.img_pesquisa {
    padding-left: 46px;
    background-image: url('../Image/lupa.png'); 
    background-position: 16px center; 
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
/* Espaçando as div da biblioteca e músicas */
#organiza_divs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* Área da Biblioteca */
#area_biblioteca {
    margin-top: 19px;
    background-color: #1f1f1f;
    width: 24vw;
    height: 87vh;
    border-radius: 13px;
    margin-left: 10px;
    overflow-y: auto; 
    scrollbar-color: #888 #1f1f1f; 
}
#biblioteca {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
#icon_biblioteca {
    width: 25px;
    height: 25px;
}
#text_biblioteca {
    font-family: 'Afacad', sans-serif;
    font-size: 25px;
    margin-left: 10px;
}
#button_adicionar {
    background-color: #1f1f1f;
    width: 25px;
    height: 25px;
}
.button_musica_biblioteca {
    width: 20vw;
    height: 64px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #1f1f1f;
    margin-left: 20px;
    margin-bottom: 9px;
    transition: transform 0.2s ease;
}
.button_musica_biblioteca:hover {
    background-color: #221e49;
    border-radius: 5px;
}
.img_musica_biblioteca {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-left: 4px;
}
.texts_musica_biblioteca {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
    font-family: sans-serif;
    color: #ffff;
}
.titulo_musica_biblioteca {
    font-size: 17px;
    font-weight: bolder;
    margin-bottom: 5px;
}

/* Área dos campos onde aparecem as músicas e playlists escutadas recentemente */
#area_musics {
    margin-top: 19px;
    background-color: #1f1f1f;
    width: 74vw;
    height: 87vh;
    border-radius: 13px;
    margin-right: 10px;
    overflow-y: auto; 
    scrollbar-color: #888 #1f1f1f; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/* Área das músicas/playlists escutadas recentemente */
#frase_recente {
    margin-top: 23px;
    width: 70vw;
    height: 5vh;
    font-size: 25px;
    font-family: 'Afacad', sans-serif;
}
.field_recents {
    width: 72vw;
    height: 18vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}
.button_tocadas_recente {
    background-color: #383838;
    color: #ffff;
    width: 16vw;
    height: 7vh;
    display: flex;
    align-items: center;
    text-align: left;
    font-weight: 700;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.button_tocadas_recente:hover {
    background-color: #554d99;
    border-radius: 5px;
}
.img_recent {
    width: 45px;
    height: 45px; 
    margin-left: -5px; 
    border-radius: 3px; 
    object-fit: cover;
}
.text_recent {
    padding: 10px;
    font-size: 15px;
}

/* Artistas populares */
#frase_artistas_populares {
    margin-top: 25px;
    width: 70vw;
    height: 5vh;
    font-size: 25px;
    font-family: 'Afacad', sans-serif;
}
#field_populares {
    width: 70vw;
    height: 31vh;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
#button_artistas_populares {
    color: #ffff;
    background-color: #1f1f1f;
    transition: transform 0.2s ease;
    width: 12vw;
    height: 29vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
}
#button_artistas_populares:hover {
    background-color: #221e49;
    border-radius: 5px;
}
#img_artistas_populares {
    width: 160px;
    height: 160px; 
    border-radius: 50%; 
    object-fit: cover;
    margin-top: 1px;
}
#nome_artistas_populares {
    margin-top: 5px;
}

/* Álbuns populares */
#frase_populares {
    margin-top: 25px;
    width: 70vw;
    height: 5vh;
    font-size: 25px;
    font-family: 'Afacad', sans-serif;
}
#field_populares {
    width: 70vw;
    height: 31vh;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
#button_popular {
    color: #ffff;
    background-color: #1f1f1f;
    transition: transform 0.2s ease;
    width: 12vw;
    height: 31vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
}
#button_popular:hover {
    background-color: #221e49;
    border-radius: 5px;

}
#img_popular {
    width: 160px;
    height: 160px; 
    border-radius: 3px; 
    object-fit: cover;
    margin-top: 1px;
}
#titulo_musica_populares {
    margin-top: 5px;
}
/* Área Perfil Usuário */
#area_usuario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #221e49;
    width: 74vw;
    height: 40vh;
}
#img_usuario {
    width: 157px;
    height: 157px;
    border-radius: 50%;
    object-fit: cover; 
    margin-top: 70px;
    margin-left: 25px;
    margin-bottom: 15px;
    box-shadow: 0 0px 11px #000000;
}
#info_usuario {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 70px;
}
#nome_user{
    font-size: 47px;
}
#text_perfil {
    font-family: 'Afacad', sans-serif;
}
#infos{
    background-color: #211e35;
    width: 74vw;
    height: 47vh;
    display: flex;
}
#cancelar_conta {
    color: #ffff;
    font-family: 'Afacad', sans-serif;
    font-size: 19px;
    margin-left: 25px;
    display: block;
    margin-top: 30px; 
}

/* Área Playlist Sertanejo */
#area_musica {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #383838;
    width: 74vw;
    height: 30vh;
}
#img_sertanejo {
    width: 157px;
    height: 157px;
    border-radius: 5%;
    object-fit: cover; 
    margin-top: 17px;
    margin-left: 25px;
    margin-bottom: 15px;
    box-shadow: 0 0px 11px #000000;
}
#info_musica {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 17px;
}
#text_sertanejo{
    font-size: 20px;
    font-family: 'Afacad', sans-serif;
}
#nome_sertanejo {
    margin-top: 15px;
    font-size: 75px;
    font-family: 'Afacad', sans-serif;
}
#area_musicas_album {
    background-color: #1f1f1f;
    width: 74vw;
    height: 57vh;
}
#infos_musicas {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
}
#titulo {
    margin-left: 55px;
}
#linha_separadora {
    height: 1px;
    background-color: #fff; 
}
#musicas {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
#musicas:hover {
    background-color: #383838;
}
#img_titulo {
    display: flex;
    align-items: center;
}
#img_musica {
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
#text_titulo_musica {
    margin-left: 5px;
}
/* Área Reprodução de Músicas */
#reproducao_musica {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#nome_pasta {
    font-family: 'Afacad', sans-serif;
    font-size: 25px;
    margin-top: 20px;
}
#img_play {
    margin-top: 20px;
    width: 24vw;
    height: 47vh;
    object-fit: cover;
}
#nome_musica {
    font-family: 'Afacad', sans-serif;
    font-size: 21px;
}
#nome_cantor {
    font-size: 19px;
}
#play {
    margin-top: 25px;
}